# SAAS Revenue Insights analysis

### Data cleaning and EDA(Exploratory Data Analysis)

In [1]:
import pandas as pd
import numpy as np

In [2]:
service_data = pd.read_csv("/Users/einstein/Downloads/saas_data_20000.csv") #import data in csv format

In [3]:
service_data

,customer_id,signup_date,country,plan_type,monthly_revenue,active_users,logins_last_30_days,churned,referral_source,support_tickets
0,1,2023-04-12,Germany,Pro,-0.48,7,6,0,Direct,2
1,2,2022-10-13,USA,Basic,12.07,2,7,0,Google Ads,1
2,3,2022-04-08,USA,NaN,18.10,2,6,0,Google Ads,1
3,4,2022-07-23,Nigeria,basic,18.85,3,14,0,LinkedIn,4
4,5,2023-06-28,Canada,NaN,12.15,1,9,0,Twitter,2
...,...,...,...,...,...,...,...,...,...,...
20195,14419,2020-08-15,CAN,basic,15.34,6,12,0,Twitter,0
20196,2605,2023-07-20,NGA,Pro,6.87,1,11,0,Facebook,4
20197,6646,2020-05-27,Germany,Pro,24.69,5,11,0,Facebook,1
20198,9645,2020-05-26,Nigeria,Free,93.97,1,8,0,Google Ads,0
20199,13867,2021-09-07,UK,basic,8.55,3,15,0,Facebook,2

In [4]:
service_data. describe() #describing the data

,customer_id,monthly_revenue,active_users,logins_last_30_days,churned,support_tickets
count,20200.000000,20200.000000,20200.000000,20200.000000,20200.000000,20200.000000
mean,10005.482228,35.118878,3.003317,9.996238,0.145396,1.012129
std,5773.468520,47.784169,1.725318,3.145054,0.352508,1.007670
min,1.000000,-21.990000,0.000000,1.000000,0.000000,0.000000
25%,5002.750000,6.840000,2.000000,8.000000,0.000000,0.000000
50%,10005.500000,17.140000,3.000000,10.000000,0.000000,1.000000
75%,15006.250000,47.842500,4.000000,12.000000,0.000000,2.000000
max,20000.000000,215.510000,12.000000,26.000000,1.000000,8.000000

In [5]:
service_data .info() #info to check for null values, datatypes and numbers of column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20200 entries, 0 to 20199
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          20200 non-null  int64
 1   signup_date          20200 non-null  object
 2   country              17592 non-null  object
 3   plan_type            16407 non-null  object
 4   monthly_revenue      20200 non-null  float64
 5   active_users         20200 non-null  int64
 6   logins_last_30_days  20200 non-null  int64
 7   churned              20200 non-null  int64
 8   referral_source      16412 non-null  object
 9   support_tickets      20200 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 1.5+ MB

In [6]:
service_data.shape #shape

(20200, 10)

In [7]:
service_data.duplicated() #check for duplicates

0        False
1        False
2        False
3        False
4        False
         ...
20195     True
20196     True
20197     True
20198     True
20199     True
Length: 20200, dtype: bool

In [8]:
service_data.drop_duplicates(inplace = True) #drop duplicate
service_data

,customer_id,signup_date,country,plan_type,monthly_revenue,active_users,logins_last_30_days,churned,referral_source,support_tickets
0,1,2023-04-12,Germany,Pro,-0.48,7,6,0,Direct,2
1,2,2022-10-13,USA,Basic,12.07,2,7,0,Google Ads,1
2,3,2022-04-08,USA,NaN,18.10,2,6,0,Google Ads,1
3,4,2022-07-23,Nigeria,basic,18.85,3,14,0,LinkedIn,4
4,5,2023-06-28,Canada,NaN,12.15,1,9,0,Twitter,2
...,...,...,...,...,...,...,...,...,...,...
19995,19996,2020-04-17,Germany,basic,20.50,2,11,0,Direct,1
19996,19997,2022-08-25,Nigeria,Free,5.44,2,9,0,Facebook,4
19997,19998,2024-09-22,NaN,pro,22.89,1,8,1,Direct,0
19998,19999,2024-03-31,US,basic,20.55,3,11,0,Google Ads,0
19999,20000,2020-10-10,UK,basic,49.80,1,13,0,Google Ads,0

In [9]:
service_data['country'].count()

np.int64(17419)

In [10]:
service_data.groupby("country").size() #check for individual country count

country
CA                1546
CAN               1615
Canada            1589
Germany           1562
NGA               1531
Nigeria           1590
UK                1580
US                1678
USA               1577
United Kingdom    1567
United States     1584
dtype: int64

In [11]:
service_data['country'] = service_data['country'].str.upper() #placing all in uppercase

In [12]:
service_data

,customer_id,signup_date,country,plan_type,monthly_revenue,active_users,logins_last_30_days,churned,referral_source,support_tickets
0,1,2023-04-12,GERMANY,Pro,-0.48,7,6,0,Direct,2
1,2,2022-10-13,USA,Basic,12.07,2,7,0,Google Ads,1
2,3,2022-04-08,USA,NaN,18.10,2,6,0,Google Ads,1
3,4,2022-07-23,NIGERIA,basic,18.85,3,14,0,LinkedIn,4
4,5,2023-06-28,CANADA,NaN,12.15,1,9,0,Twitter,2
...,...,...,...,...,...,...,...,...,...,...
19995,19996,2020-04-17,GERMANY,basic,20.50,2,11,0,Direct,1
19996,19997,2022-08-25,NIGERIA,Free,5.44,2,9,0,Facebook,4
19997,19998,2024-09-22,NaN,pro,22.89,1,8,1,Direct,0
19998,19999,2024-03-31,US,basic,20.55,3,11,0,Google Ads,0
19999,20000,2020-10-10,UK,basic,49.80,1,13,0,Google Ads,0

In [13]:
service_data['country'] = service_data['country'].replace({'USA': 'United States', 'US': 'United States', 'UNITED STATES': 'United States', 'United states': 'United States', 'united state': 'United States', 'United States': 'United States'})

# correcting and renaming all necesarry error

In [14]:
service_data

,customer_id,signup_date,country,plan_type,monthly_revenue,active_users,logins_last_30_days,churned,referral_source,support_tickets
0,1,2023-04-12,GERMANY,Pro,-0.48,7,6,0,Direct,2
1,2,2022-10-13,United States,Basic,12.07,2,7,0,Google Ads,1
2,3,2022-04-08,United States,NaN,18.10,2,6,0,Google Ads,1
3,4,2022-07-23,NIGERIA,basic,18.85,3,14,0,LinkedIn,4
4,5,2023-06-28,CANADA,NaN,12.15,1,9,0,Twitter,2
...,...,...,...,...,...,...,...,...,...,...
19995,19996,2020-04-17,GERMANY,basic,20.50,2,11,0,Direct,1
19996,19997,2022-08-25,NIGERIA,Free,5.44,2,9,0,Facebook,4
19997,19998,2024-09-22,NaN,pro,22.89,1,8,1,Direct,0
19998,19999,2024-03-31,United States,basic,20.55,3,11,0,Google Ads,0
19999,20000,2020-10-10,UK,basic,49.80,1,13,0,Google Ads,0

In [15]:
service_data["country"] =service_data["country"].replace({"CA": "Canada", "CAN": "Canada", "CANADA": "Canada"})

# correcting and renaming all necesarry error

In [16]:
service_data

,customer_id,signup_date,country,plan_type,monthly_revenue,active_users,logins_last_30_days,churned,referral_source,support_tickets
0,1,2023-04-12,GERMANY,Pro,-0.48,7,6,0,Direct,2
1,2,2022-10-13,United States,Basic,12.07,2,7,0,Google Ads,1
2,3,2022-04-08,United States,NaN,18.10,2,6,0,Google Ads,1
3,4,2022-07-23,NIGERIA,basic,18.85,3,14,0,LinkedIn,4
4,5,2023-06-28,Canada,NaN,12.15,1,9,0,Twitter,2
...,...,...,...,...,...,...,...,...,...,...
19995,19996,2020-04-17,GERMANY,basic,20.50,2,11,0,Direct,1
19996,19997,2022-08-25,NIGERIA,Free,5.44,2,9,0,Facebook,4
19997,19998,2024-09-22,NaN,pro,22.89,1,8,1,Direct,0
19998,19999,2024-03-31,United States,basic,20.55,3,11,0,Google Ads,0
19999,20000,2020-10-10,UK,basic,49.80,1,13,0,Google Ads,0

In [17]:
service_data["country"] =service_data["country"].replace({"UK": "United Kingdom", "UNITED KINGDOM": "United Kingdom"})


# correcting and renaming all necesarry error

In [18]:
service_data["country"] =service_data["country"].replace({"NIGERIA": "Nigeria", "NGA": "Nigeria"})

# correcting and renaming all necesarry error

In [19]:
service_data['country'] = service_data['country'].fillna("United States")

# correcting and renaming all necesarry error

In [20]:
service_data['country']= service_data['country'].str.capitalize()

# correcting and renaming all necesarry error

In [21]:
service_data

,customer_id,signup_date,country,plan_type,monthly_revenue,active_users,logins_last_30_days,churned,referral_source,support_tickets
0,1,2023-04-12,Germany,Pro,-0.48,7,6,0,Direct,2
1,2,2022-10-13,United states,Basic,12.07,2,7,0,Google Ads,1
2,3,2022-04-08,United states,NaN,18.10,2,6,0,Google Ads,1
3,4,2022-07-23,Nigeria,basic,18.85,3,14,0,LinkedIn,4
4,5,2023-06-28,Canada,NaN,12.15,1,9,0,Twitter,2
...,...,...,...,...,...,...,...,...,...,...
19995,19996,2020-04-17,Germany,basic,20.50,2,11,0,Direct,1
19996,19997,2022-08-25,Nigeria,Free,5.44,2,9,0,Facebook,4
19997,19998,2024-09-22,United states,pro,22.89,1,8,1,Direct,0
19998,19999,2024-03-31,United states,basic,20.55,3,11,0,Google Ads,0
19999,20000,2020-10-10,United kingdom,basic,49.80,1,13,0,Google Ads,0

In [22]:
service_data.groupby("plan_type").size() #checking plan_type details and researching about it for appropiate placement

plan_type
Basic         2813
Enterprise    2655
Free          2662
Pro           2659
basic         2730
pro           2723
dtype: int64

In [23]:
service_data["plan_type"] =service_data["plan_type"].fillna(method = "ffill")

/var/folders/hr/30k82hyx7p9b_d6wswtylxkm0000gn/T/ipykernel_1544/106120038.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  service_data["plan_type"] =service_data["plan_type"].fillna(method = "ffill")

In [24]:
service_data["plan_type"] = service_data["plan_type"].ffill() #filling null values

In [25]:
service_data

,customer_id,signup_date,country,plan_type,monthly_revenue,active_users,logins_last_30_days,churned,referral_source,support_tickets
0,1,2023-04-12,Germany,Pro,-0.48,7,6,0,Direct,2
1,2,2022-10-13,United states,Basic,12.07,2,7,0,Google Ads,1
2,3,2022-04-08,United states,Basic,18.10,2,6,0,Google Ads,1
3,4,2022-07-23,Nigeria,basic,18.85,3,14,0,LinkedIn,4
4,5,2023-06-28,Canada,basic,12.15,1,9,0,Twitter,2
...,...,...,...,...,...,...,...,...,...,...
19995,19996,2020-04-17,Germany,basic,20.50,2,11,0,Direct,1
19996,19997,2022-08-25,Nigeria,Free,5.44,2,9,0,Facebook,4
19997,19998,2024-09-22,United states,pro,22.89,1,8,1,Direct,0
19998,19999,2024-03-31,United states,basic,20.55,3,11,0,Google Ads,0
19999,20000,2020-10-10,United kingdom,basic,49.80,1,13,0,Google Ads,0

In [26]:
service_data['plan_type'] = service_data['plan_type'].replace({'Basic':'Basic', 'Pro':'Premium', 'pro':'Premium', 'basic':'Basic'})

# correcting and renaming all necesarry error

In [27]:
service_data.loc[service_data['monthly_revenue'] < 0, 'monthly_revenue'] = 0

#find negative values then insert 0 automatically

In [28]:
plan_prices = {'Free': 0, 'Basic': 50, 'Premium': 100, 'Enterprise': 500}
service_data['monthly_revenue'] = service_data['plan_type'].map(plan_prices)

#mapping monthly_revenue with plan_type

In [29]:
service_data.groupby("referral_source").size() #checking plan_type details and researching about it for appropiate placement

referral_source
Direct        2714
Facebook      2762
Google Ads    2742
LinkedIn      2681
Referral      2646
Twitter       2705
dtype: int64

In [30]:
service_data["referral_source"] = service_data["referral_source"].ffill() #filling forward for empty spaces

In [31]:
service_data.groupby("churned").size()

churned
0    17096
1     2904
dtype: int64

In [32]:
service_data['churned'] = service_data['churned'].apply(lambda x: 'No' if x == 0 else 'Yes')
print(service_data.head())

   customer_id signup_date        country plan_type  monthly_revenue  \
0            1  2023-04-12        Germany   Premium              100
1            2  2022-10-13  United states     Basic               50
2            3  2022-04-08  United states     Basic               50
3            4  2022-07-23        Nigeria     Basic               50
4            5  2023-06-28         Canada     Basic               50

   active_users  logins_last_30_days churned referral_source  support_tickets
0             7                    6      No          Direct                2
1             2                    7      No      Google Ads                1
2             2                    6      No      Google Ads                1
3             3                   14      No        LinkedIn                4
4             1                    9      No         Twitter                2

In [33]:
#service_data.drop(columns = "churn_status")

In [34]:
service_data['signup_date'] = pd.to_datetime(service_data['signup_date']) #change signup_date from integer to datetime

In [35]:
service_data['year'] = service_data['signup_date'].dt.year #year extraction

In [36]:
service_data

,customer_id,signup_date,country,plan_type,monthly_revenue,active_users,logins_last_30_days,churned,referral_source,support_tickets,year
0,1,2023-04-12,Germany,Premium,100,7,6,No,Direct,2,2023
1,2,2022-10-13,United states,Basic,50,2,7,No,Google Ads,1,2022
2,3,2022-04-08,United states,Basic,50,2,6,No,Google Ads,1,2022
3,4,2022-07-23,Nigeria,Basic,50,3,14,No,LinkedIn,4,2022
4,5,2023-06-28,Canada,Basic,50,1,9,No,Twitter,2,2023
...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,2020-04-17,Germany,Basic,50,2,11,No,Direct,1,2020
19996,19997,2022-08-25,Nigeria,Free,0,2,9,No,Facebook,4,2022
19997,19998,2024-09-22,United states,Premium,100,1,8,Yes,Direct,0,2024
19998,19999,2024-03-31,United states,Basic,50,3,11,No,Google Ads,0,2024
19999,20000,2020-10-10,United kingdom,Basic,50,1,13,No,Google Ads,0,2020

In [37]:
service_data['month'] = service_data['signup_date'].dt.strftime('%b') #month extraction
service_data

,customer_id,signup_date,country,plan_type,monthly_revenue,active_users,logins_last_30_days,churned,referral_source,support_tickets,year,month
0,1,2023-04-12,Germany,Premium,100,7,6,No,Direct,2,2023,Apr
1,2,2022-10-13,United states,Basic,50,2,7,No,Google Ads,1,2022,Oct
2,3,2022-04-08,United states,Basic,50,2,6,No,Google Ads,1,2022,Apr
3,4,2022-07-23,Nigeria,Basic,50,3,14,No,LinkedIn,4,2022,Jul
4,5,2023-06-28,Canada,Basic,50,1,9,No,Twitter,2,2023,Jun
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,2020-04-17,Germany,Basic,50,2,11,No,Direct,1,2020,Apr
19996,19997,2022-08-25,Nigeria,Free,0,2,9,No,Facebook,4,2022,Aug
19997,19998,2024-09-22,United states,Premium,100,1,8,Yes,Direct,0,2024,Sep
19998,19999,2024-03-31,United states,Basic,50,3,11,No,Google Ads,0,2024,Mar
19999,20000,2020-10-10,United kingdom,Basic,50,1,13,No,Google Ads,0,2020,Oct

In [38]:
service_data['day'] = service_data['signup_date'].dt.day #day extraction
service_data

,customer_id,signup_date,country,plan_type,monthly_revenue,active_users,logins_last_30_days,churned,referral_source,support_tickets,year,month,day
0,1,2023-04-12,Germany,Premium,100,7,6,No,Direct,2,2023,Apr,12
1,2,2022-10-13,United states,Basic,50,2,7,No,Google Ads,1,2022,Oct,13
2,3,2022-04-08,United states,Basic,50,2,6,No,Google Ads,1,2022,Apr,8
3,4,2022-07-23,Nigeria,Basic,50,3,14,No,LinkedIn,4,2022,Jul,23
4,5,2023-06-28,Canada,Basic,50,1,9,No,Twitter,2,2023,Jun,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,2020-04-17,Germany,Basic,50,2,11,No,Direct,1,2020,Apr,17
19996,19997,2022-08-25,Nigeria,Free,0,2,9,No,Facebook,4,2022,Aug,25
19997,19998,2024-09-22,United states,Premium,100,1,8,Yes,Direct,0,2024,Sep,22
19998,19999,2024-03-31,United states,Basic,50,3,11,No,Google Ads,0,2024,Mar,31
19999,20000,2020-10-10,United kingdom,Basic,50,1,13,No,Google Ads,0,2020,Oct,10

In [39]:
service_data.info() #check info to ensure clean data

<class 'pandas.core.frame.DataFrame'>
Index: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          20000 non-null  int64
 1   signup_date          20000 non-null  datetime64[ns]
 2   country              20000 non-null  object
 3   plan_type            20000 non-null  object
 4   monthly_revenue      20000 non-null  int64
 5   active_users         20000 non-null  int64
 6   logins_last_30_days  20000 non-null  int64
 7   churned              20000 non-null  object
 8   referral_source      20000 non-null  object
 9   support_tickets      20000 non-null  int64
 10  year                 20000 non-null  int32
 11  month                20000 non-null  object
 12  day                  20000 non-null  int32
dtypes: datetime64[ns](1), int32(2), int64(5), object(5)
memory usage: 2.0+ MB

In [40]:
print(service_data.isnull().values.any()) #check for null values

False

In [41]:
service_data

,customer_id,signup_date,country,plan_type,monthly_revenue,active_users,logins_last_30_days,churned,referral_source,support_tickets,year,month,day
0,1,2023-04-12,Germany,Premium,100,7,6,No,Direct,2,2023,Apr,12
1,2,2022-10-13,United states,Basic,50,2,7,No,Google Ads,1,2022,Oct,13
2,3,2022-04-08,United states,Basic,50,2,6,No,Google Ads,1,2022,Apr,8
3,4,2022-07-23,Nigeria,Basic,50,3,14,No,LinkedIn,4,2022,Jul,23
4,5,2023-06-28,Canada,Basic,50,1,9,No,Twitter,2,2023,Jun,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,2020-04-17,Germany,Basic,50,2,11,No,Direct,1,2020,Apr,17
19996,19997,2022-08-25,Nigeria,Free,0,2,9,No,Facebook,4,2022,Aug,25
19997,19998,2024-09-22,United states,Premium,100,1,8,Yes,Direct,0,2024,Sep,22
19998,19999,2024-03-31,United states,Basic,50,3,11,No,Google Ads,0,2024,Mar,31
19999,20000,2020-10-10,United kingdom,Basic,50,1,13,No,Google Ads,0,2020,Oct,10

In [42]:
service_data

,customer_id,signup_date,country,plan_type,monthly_revenue,active_users,logins_last_30_days,churned,referral_source,support_tickets,year,month,day
0,1,2023-04-12,Germany,Premium,100,7,6,No,Direct,2,2023,Apr,12
1,2,2022-10-13,United states,Basic,50,2,7,No,Google Ads,1,2022,Oct,13
2,3,2022-04-08,United states,Basic,50,2,6,No,Google Ads,1,2022,Apr,8
3,4,2022-07-23,Nigeria,Basic,50,3,14,No,LinkedIn,4,2022,Jul,23
4,5,2023-06-28,Canada,Basic,50,1,9,No,Twitter,2,2023,Jun,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,2020-04-17,Germany,Basic,50,2,11,No,Direct,1,2020,Apr,17
19996,19997,2022-08-25,Nigeria,Free,0,2,9,No,Facebook,4,2022,Aug,25
19997,19998,2024-09-22,United states,Premium,100,1,8,Yes,Direct,0,2024,Sep,22
19998,19999,2024-03-31,United states,Basic,50,3,11,No,Google Ads,0,2024,Mar,31
19999,20000,2020-10-10,United kingdom,Basic,50,1,13,No,Google Ads,0,2020,Oct,10

In [43]:
service_data.set_index('customer_id', inplace = True) #set service_data as index

In [44]:
service_data

,signup_date,country,plan_type,monthly_revenue,active_users,logins_last_30_days,churned,referral_source,support_tickets,year,month,day
customer_id,,,,,,,,,,,,
1,2023-04-12,Germany,Premium,100,7,6,No,Direct,2,2023,Apr,12
2,2022-10-13,United states,Basic,50,2,7,No,Google Ads,1,2022,Oct,13
3,2022-04-08,United states,Basic,50,2,6,No,Google Ads,1,2022,Apr,8
4,2022-07-23,Nigeria,Basic,50,3,14,No,LinkedIn,4,2022,Jul,23
5,2023-06-28,Canada,Basic,50,1,9,No,Twitter,2,2023,Jun,28
...,...,...,...,...,...,...,...,...,...,...,...,...
19996,2020-04-17,Germany,Basic,50,2,11,No,Direct,1,2020,Apr,17
19997,2022-08-25,Nigeria,Free,0,2,9,No,Facebook,4,2022,Aug,25
19998,2024-09-22,United states,Premium,100,1,8,Yes,Direct,0,2024,Sep,22
19999,2024-03-31,United states,Basic,50,3,11,No,Google Ads,0,2024,Mar,31
20000,2020-10-10,United kingdom,Basic,50,1,13,No,Google Ads,0,2020,Oct,10

In [45]:
service_data.to_csv("saas_cleaned_data.csv", index=False) #exporting to CSV file format

In [46]:
service_data.to_excel("saas_cleaned_data.xlsx", index=False) #exporting to excel file format

In [47]:
# Create DataFrame with two rows: 0 and 270
df = pd.DataFrame({"Values": [270, 0]})

In [48]:
df

   Values
0     270
1       0

In [49]:
# Save to Excel with index included
df.to_excel("output1.xlsx", index=True)